header {
    text-align: center;
    padding: 50px 0;
    background-color: burlywood;
    color: darkred;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: darkgreen;
    text-decoration: none;
}

.section {
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 32px;
}
main {
    display: grid;
    gap: 20px;
    padding: 20px;
}

h2 {
    color: black;
}
.container {
    width: auto;
    margin: auto;
    overflow: hidden;
    gap: 20px;
}

.project {
    display: inline-block;
    background-color: darkolivegreen;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;  
}

footer {
    text-align: center;
}